<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminheader.ejs') %>





<h3 class="display-3"> Edit a category </h3>

<form  method="post" action="/categories/edit-page/<%= title%>">

  <div class="form-group">
      <label for""> Title : </label> <input type="text" name="title" value = "<%= title %>" placeholder="title" class="form-control" />


</div>
<input type="text" name="id" value="<%= id %>" </input>
<button class="btn btn-primary" > Submit </button>
</form>


<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminfooter.ejs') %>
