<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminheader.ejs'); %>



<br>

<a href="/admin/pages/add-page" class="btn btn-primary" > Add a page </a>
<br> <br>
<table class="table table-striped" >
<tr>
<th>Title</th>
<th>Edit </th>
<th>Title</th>
</tr>
<% page.forEach(function(x) { %>

<tr>
<td>


<%= x.title %>

</td>
<td><a href="pages/edit-page/<%= x.slug %>"> Edit </a></td>
<td><a id="mericlass"  href="pages/delete-page/<%= x.id %>" > Delete </a></td>
</tr>
<% }); %>
</table>





<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminfooter.ejs'); %>
